body{
    margin: 0;padding: 0;
}
.home-height{
    min-height:100vh;
}
.navbar {
    height: 5rem;
}
  
.bg-white{
background-color: white;
}
.fa-campass{
    color: #fe424d;
    font-size: 2rem;
}

/* card */
.header{
    margin-left:2.5rem;
    margin-top: 1rem;
}
.card{
    margin-bottom:2.5rem;
    border: none;
    
}
.img-height{
    height: 20rem;
}
.position-set{
right: 10px;
bottom:10px;
}


.card_container{
    flex-wrap: wrap;
    display:flex;
    justify-content:space-evenly;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.3;
    background-color: rgb(240, 240, 243);
}

/* show-card */
.show-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.show-card{
    border: none !important;

   .card-img-top{
    height:30vh;
     }
    
}
.mt-100{
    margin:100px 0;
}
@media (max-width: 768px) {
    .navbar-collapse {
      background-color: white; 
      padding: 1rem; 
    }
  }