body {
  margin: 0;
  padding: 0;
}

.height_70 {
  min-height: 70vh;
}

.height_80 {
  min-height: 80vh;
}


.font_nav{
  font-size:1.3rem !important;
}
.marg_navitem{
  padding:8px 8px!important;
}

.bg-white {
  background-color: white;
}

.logo_img {
  width: 2.3rem;
  
}

/* card */
.header {
  margin-left: 2.5rem;
  margin-top: 1rem;
}


.position-set {
  right: 10px;
  bottom: 10px;
}

.card_container {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  margin-top: 1rem;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  justify-content: center;

}

.card_container {

  .card {
    width: 18rem;
    margin-bottom: 2.5rem;
    border: none;

  }

  .img-height {
    height: 16rem;
  }

  .card-img-overlay {
    opacity: 0;
  }

  .card-img-overlay:hover {
    opacity: 0.3;
    background-color: rgb(240, 240, 243);
  }

  .card-body {
    padding: 10px !important;
  }

  .card-title {
    font-family: poppins, sans-serif;
    font-size: rem !important;
    font-weight: 600 !important;
  }

  .card-text {
    font-family: poppins, sans-serif;
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: #5c5c5c;
  }
}

/* show-card */
.show-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.show-card {
  border: none !important;

  .card-img-top {
    height: 30vh;
  }

}

.custom-switch .form-check-input {
  width: 3rem;
  height: 1.2rem;
  transform: scale(1.2);
  cursor: pointer;
}



@media (max-width:1210px) {
  .card_container {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;

  }

  .card_container {

    .card {
      width: 15rem;
      margin-bottom: 1.2rem;
    }

    .img-height {
      height: 12rem;
    }

    .card-title {
      font-size: 0.8rem !important;
    }

  }

}

@media (max-width: 888px) {
  .card_container {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;

  }

  .card_container {

    .card {
      width: 10rem;
      margin-bottom: 1rem;
    }

    .img-height {
      height: 12rem;
    }

    .card-body {
      padding: 6px !important;
    }

    .card-title {
      font-size: 0.8rem !important;
    }

  }

  #width_50 {
    width: 80vw !important;
  }
}

.navbar-collapse {
  background-color: white;
  padding: 1rem;
}

 #width_50 {
    width: 50vw;
  }



/* filters */
.filters-bar {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 6px 10px;
  transition: transform 0.2s ease;
  color: #5c5c5c;
}

.filter-item:hover {
  transform: scale(1.07);
  color: #000;
}


.filters-bar {
  display: inline-flex;
  min-width: max-content;
}

.filters-scroll-wrapper::-webkit-scrollbar {
  height: 0px;
}


.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll-arrow.start-0 {
  left: -15px;
}

.scroll-arrow.end-0 {
  right: -15px;
}

.filters-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  margin-left: 3rem;
  margin-right: 3rem;
  position: relative;
}

.taxes_div {
  margin-left: 3rem;
}

/* Responsive styles */
@media (max-width: 767px) {
  .scroll-arrow {
    display: none;
  }
.filter-item {
  padding: 0;
}
  .filters-scroll-wrapper {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

}

@media (max-width:1000px) {

  .taxes_div {
    margin-left: 1.5rem !important;
  }
}

@media (max-width: 767px) {
  .taxes_div {
    display: none !important;
  }

}

.icon-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.icon-hover:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* search btn */
#btn_search {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: inset 0 0 0 1px rgba(250, 249, 249, 0.3), 2px 1px 3px rgba(8, 8, 8, 0.5);
}

#btn_search:hover{
  opacity: 0.5;
  color: white ;
}
.input_search{
  border-radius:25px !important;
  padding: 0.5rem 2rem !important;
}
.close_btn{
  font-size: 1.2rem;
  position: absolute;
  right:8px;
  top:25px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* new listing form*/
@media (max-width: 576px) {
  form {
    padding: 1.5rem !important;
  }

  h1 {
    font-size: 1.75rem;
  }
}
